.menu li a{
    text-decoration: none;
}




@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;200;300;400;500&display=swap');
* {
    font-family: "Poppins";
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*contact form*/

h1 {
    font-weight: normal;
    font-size: 45px;
    color: #333;
    text-align: center;
    margin: 20px;
}

h2 {
    font-weight: normal;
    font-size: 15px;
    color: #9b9b9b;
    letter-spacing: 0.5px;
    width: 360px;
    word-wrap: break-word;
    margin: -20px auto;
    text-align: center;
}

.container {
    max-width: 450px;
    background: #f2f2f2;
    border-radius: 10px;
    margin: 50px auto;
    padding-bottom: 50px;
    border: 1px solid #B5B5B5;
    -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    min-height: 600px;
}

.container1 {
    width: 600px;
    background: #f2f2f2;
    z-index: 1500;
    border-radius: 10px;
    text-align: center;
    margin: 50px auto;
    padding-bottom: 50px;
    border: 1px solid #B5B5B5;
    -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    height: 250px;
}

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font-size: 13px;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: #4691A4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}


/* Modal Content/Box */

.modal {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 100%;
    padding-top: 200px;
}

.pop1 {
    background-color: #333;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}


/* The Modal Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.closebtn {
    width: 100px;
    height: 30px;
    background: #4691A4;
    color: #f1f1f1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

a#scroll-btn {
    position: absolute;
    height: 5em;
    width: 3em;
    border: 0.3em solid #d00000;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 6.25em;
    border-radius: 2em;
}

a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    height: 1.2em;
    width: 1.2em;
    background-color: #d00000;
    border-radius: 50%;
    animation: move-down 2s infinite;
    text-decoration: none;
}

@keyframes move-down {
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(3em);
        opacity: 0.3;
    }
}

a#scroll-btn:after {
    position: absolute;
    content: "CLICK FOR CONTACT FORM";
    width: 12em;
    display: block;
    text-align: center;
    font-size: 1em;
    color: #d00000;
    letter-spacing: 3px;
    font-weight: 500;
    text-decoration: none;
    margin: 80px auto 0 -78px;
    background-color: #60C7DC;
    border-radius: 0.6em;
}

@media screen and (max-width: 500px) {
    a#scroll-btn {
        font-size: 12px;
    }
}